 <!DOCTYPE html>
 <html lang="eng">
    <head>

        <meta charset="'UTF-8">
        <title>FWI PREDICATION </title>

    </head>

    <body>
        <h1>FWI PREDICATION</h1>
        <form action="{{url_for('predict_datapoint')}}" method ="post"> 
           
            <input type="text" name="temprature" placeholder="temprature" required="required"/><br>

            <input type="text" name="RH" placeholder="RH" required="required"/><br>
            <input type="text" name="ws" placeholder="ws" required="required"/><br>
            <input type="text" name="rain" placeholder="rain" required="required"/><br>
            <input type="text" name="FFMC" placeholder="FFMC" required="required"/><br>
            <input type="text" name="DMC" placeholder="DMC" required="required"/><br>
           
             <input type="text" name="ISI" placeholder="ISI" required="required"/><br>
            <input type="text" name="classes" placeholder="classes" required="required"/><br>
            <input type="text" name="region" placeholder="region" required="required"/><br>


            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

            <h1>predication is : {{results_score}} </h1>
 


        </form> 
    </body>
 </html>